In [13]:
import pandas as pd
import numpy as np
import csv
import json
from pprint import pprint

In [5]:
df_complaints = pd.read_csv("NYPD_Complaint Data_YTD_2018.csv")[['RPT_DT','ADDR_PCT_CD','BORO_NM', 'KY_CD','LAW_CAT_CD','OFNS_DESC','PD_DESC','Latitude','Longitude']]
df_complaints.head()

,RPT_DT,ADDR_PCT_CD,BORO_NM,KY_CD,LAW_CAT_CD,OFNS_DESC,PD_DESC,Latitude,Longitude
0,11/29/2018,41.0,BRONX,233,MISDEMEANOR,SEX CRIMES,"SEXUAL ABUSE 3,2",NaN,NaN
1,12/31/2018,14.0,MANHATTAN,109,FELONY,GRAND LARCENY,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP",40.756044,-73.986950
2,12/31/2018,73.0,BROOKLYN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.675146,-73.918003
3,12/31/2018,67.0,BROOKLYN,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",40.633016,-73.944756
4,12/31/2018,5.0,MANHATTAN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.721512,-73.993096

In [6]:
df_complaints = df_complaints.dropna(axis='rows')
df_complaints.head()

,RPT_DT,ADDR_PCT_CD,BORO_NM,KY_CD,LAW_CAT_CD,OFNS_DESC,PD_DESC,Latitude,Longitude
1,12/31/2018,14.0,MANHATTAN,109,FELONY,GRAND LARCENY,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP",40.756044,-73.986950
2,12/31/2018,73.0,BROOKLYN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.675146,-73.918003
3,12/31/2018,67.0,BROOKLYN,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",40.633016,-73.944756
4,12/31/2018,5.0,MANHATTAN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.721512,-73.993096
5,12/31/2018,46.0,BRONX,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.852908,-73.909340

In [7]:
df_Crime2018 = df_complaints[(df_complaints['RPT_DT']>='01/01/2018')& (df_complaints['RPT_DT']<='12/31/2018')]
df_Crime2018.head()

,RPT_DT,ADDR_PCT_CD,BORO_NM,KY_CD,LAW_CAT_CD,OFNS_DESC,PD_DESC,Latitude,Longitude
1,12/31/2018,14.0,MANHATTAN,109,FELONY,GRAND LARCENY,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP",40.756044,-73.986950
2,12/31/2018,73.0,BROOKLYN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.675146,-73.918003
3,12/31/2018,67.0,BROOKLYN,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF,UNCLASSIFIED 4",40.633016,-73.944756
4,12/31/2018,5.0,MANHATTAN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.721512,-73.993096
5,12/31/2018,46.0,BRONX,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.852908,-73.909340

In [8]:
df_Crime2018['Lat_Lng'] = df_Crime2018[['Latitude','Longitude']].values.tolist()
df_Crime2018 = df_Crime2018.drop(['Latitude', 'Longitude'], axis=1)
df_Crime2018.head()

C:\Users\Eric\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,RPT_DT,ADDR_PCT_CD,BORO_NM,KY_CD,LAW_CAT_CD,OFNS_DESC,PD_DESC,Lat_Lng
1,12/31/2018,14.0,MANHATTAN,109,FELONY,GRAND LARCENY,"LARCENY,GRAND FROM PERSON, BAG OPEN/DIP","[40.75604354, -73.98694954]"
2,12/31/2018,73.0,BROOKLYN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,"[40.67514616, -73.91800323]"
3,12/31/2018,67.0,BROOKLYN,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,"CRIMINAL MISCHIEF,UNCLASSIFIED 4","[40.63301598, -73.9447556]"
4,12/31/2018,5.0,MANHATTAN,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,"[40.72151234, -73.99309647]"
5,12/31/2018,46.0,BRONX,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,"[40.85290843, -73.90934006]"

In [22]:
df_Crime2018.to_csv("2018_CrimeData.csv", sep=',')

In [44]:
df_GrandLarceny2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('LARCENY')]
df_GrandLarceny2018.to_csv("GrandLarceny2018.csv", sep=',')

df_Assault2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('ASSAULT')]
df_Assault2018.to_csv("Assault2018.csv", sep=',')

df_Vehicles2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('VEHICLE')]
df_Vehicles2018.to_csv("Vehicles2018.csv", sep=',')

df_Driving2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('DRIVING')]
df_Driving2018.to_csv("Driving2018.csv", sep=',')

df_Drugs2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('DRUGS|DRUG')]
df_Drugs2018.to_csv("Drugs2018.csv", sep=',')

df_Burglary2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('BURGLARY')]
df_Burglary2018.to_csv("Burglary2018.csv", sep=',')

df_SexCrimes2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('RAPE|SEX')]
df_SexCrimes2018.to_csv("SexCrimes2018.csv", sep=',')

df_Trespass2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('TRESPASS')]
df_Trespass2018.to_csv("Trespass2018.csv", sep=',')

df_Kidnapping2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('KIDNAPPING')]
df_Kidnapping2018.to_csv("Kidnapping2018.csv", sep=',')

df_GambProstHom2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('GAMBLING|PROSTITUTION|HOMICIDE')]
df_GambProstHom2018.to_csv("GambProstHom2018.csv", sep=',')

df_Other2018 = df_Crime2018[df_Crime2018['OFNS_DESC'].str.contains('OFFENSES|SAFETY')]
df_Other2018 .to_csv("Other2018.csv", sep=',')